* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  width: 100%;
}

html {
  font-size: 62.5%;
}

p {
  margin-left: 20px;
}

.portada {
  max-height: 100%;
  width: 100%;
  object-fit: contain;
  display: flex;
}

.links a {
  color: $color-verde;
  text-decoration: none;
  font-weight: 600;
  margin-bottom: 50px;
  display: flex;
  justify-content: center;
}

.asideVideos {
    display: flex;
    padding: 20px;
  }


  @mixin grid-center-width {
    display: grid;
    align-items: center;
    width: 100%;
  }

  .fotosIndex {
    @include grid-center-width;
  }

  @mixin img-border($color, $width) {
    border: {
      color: $color;
      width: $width;
      style: dashed;
    }
  }
  
.fotosIndex { @include img-border(rgb(9, 9, 14), 5px); }