@media only screen and (min-width:0px) and (max-width: 1000px){

  footer {
  flex: 1 50%;
  font-size: 12px;
  }

  aside {
    display: flex;
    flex-direction: column;
    color: grey;
  }
  section {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: auto;
  }

  .fotosIndex {
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px;
    width: 350px;
    height: 200px;
    
  }
  .pasos {
      display: flex;
      flex-direction: column;
      position:static;
      width: 80%;
      height: 100%;
      font-size: 15px;
      text-align: justify;
    
  }    
}
  .asideVideos { 
    overflow: hidden;
    position:relative;
    width: 100%;
  }

  .form-control {
  max-width: 90%;
  }

  